:root {
		--main-color: #ffd800;
		--main-background: #000;
		--second-background: #000;
		--hover-background: #332a05
		--main-text: #EEEEEE;
		--dimmer-text: #e2e2e2;
		--shadow: 0 1px 0.5px rgba(255, 216, 0, .2);
	}`